body {
    margin: 10px;
    background-color: white;

    /* Text */
    color: #000000;
    font-size: large;
}
p {
    font-family: sans-serif;
}
a {
    color: #222222;
}
h1 {
    text-shadow: 1px 0px #000000;
}
ul {
    color: #222222;
}
