body {
    margin: 10px;
    background-color: #222222;

    /* Text */
    color: #ED0A3F;
    font-size: large;
}
p {
    font-family: sans-serif;
}
a {
    color: #ED0A3F;
}
h1 {
    text-shadow: 1px 0px white;
}
ul {
    color: #ED0A3F;
}
